/*ブロック*/
.mainBlock {
    display: flex;
    flex-direction: column;
    height: 100svh;
    width: 100%;
}

.voidBlock {
    flex-grow: 1;
}

.btn-grid {
    align-self: flex-end;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
    padding-bottom: 4px;
    align-self: flex-end;
}

/*色override*/
/*Light*/
.bg-light {
    background-color: rgb(243, 243, 243) !important;
}
.btn-main-light {
    background-color: silver !important;
    color: black;
}
.btn-sub-light {
    background-color: gainsboro !important;
    color: black;
}
.btn-acce-light {
    background-color: dimgray !important;
    color: white;
}
/*Dark*/
.bg-dark {
    background-color: rgb(32, 32, 32) !important;
}
.btn-main-dark {
    background-color: rgb(50, 50, 50) !important;
}
.btn-sub-dark {
    background-color: rgb(60, 60, 60) !important;
}
.btn-acce-dark {
    background-color: darkgray !important;
    color: black;
}
/*押下時の色をわかりやすく*/
.btn-press:focus{
    opacity:.7;
}